# Created by .ignore support plugin (hsz.mobi)
vendor/composer
vendor/composer/autoload_namespaces.php
vendor/composer/ClassLoader.php
vendor/composer/autoload_real.php
vendor/composer/autoload_classmap.php
vendor/autoload.php
vendor/SimpleOrm/.idea