<phpunit
        bootstrap="./test/lib/bootstrap.php">
    <testsuites>
        <testsuite name="SimpleOrm Test Suite">
            <directory>./test/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>/usr/share</directory>
            <directory>/usr/local/share</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="tap" target="/tmp/phpunit-result/simpleorm-current-tap.txt"/>
        <log type="coverage-html" target="/tmp/phpunit-result/simpleorm-current" showUncoveredFiles="true"/>
    </logging>
</phpunit>
