<phpunit
        bootstrap="./test/lib/bootstrap.php"
        strict="true">
    <testsuites>
        <testsuite name="SimpleOrm Test Suite">
            <directory>./test/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>/usr/share</directory>
            <directory>/usr/local/share</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="testdox" target="php://stdout"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="/tmp/coverage/simpleorm-current" showUncoveredFiles="true"/>
    </logging>
</phpunit>
